@font-face {
    font-family: 'Kanit';
    src: url(Kanit-Medium.ttf) format('truetype');
  
}

@font-face {
    font-family: 'GabrielSans';
    src: url(GabrielSansCond-Trial-Bold.ttf) format('truetype');
}

@font-face {
     
    font-family: 'GabrielSansN';
    src: url(GabrielSansCond-Trial-Normal.ttf) format('truetype');


}

html{
    height: 100%;
    width: 100%;

}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    
}

#container{
    height: 100%;
    width: 100%;
    

}

#menu{
    height: 11.5%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#usuarioLogado{
    height: 110%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#telas{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#deslog{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#deslogar{
    height: 40%;
    width: 50%;
    font-family: 'GabrielSans';
    font-size: 18px;
    border-radius: 60px;
    margin: 3%;
    background-color: rgb(182, 180, 180)

}

#deslogar:hover 

{ background-color: rgb(75, 85, 108);

}

.mudar2{
    height: 14%;
    width: 80%;
    font-family: 'GabrielSansN';
    font-size: 15px;
    border-radius: 50px;
    padding-left: 10px;

}

.button9 {

    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
  }
  
  .button8 {
  
    background-color: #f44336;
  
  }



#botoes{
    
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background-color:transparent;
	border-radius:6px;
	border:0px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family: 'GabrielSans';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
    display: flex;
   
    }


    #botoes:hover  {
        background-color: rgb(224, 222, 222);
        
    }
    #botoes.active {
        position:relative;
        top:1px;
    }
    








#tela{
    height: 88%;
    width: 100%;
    display: flex;
    background-color: #4B556C;
    

}

#logotipo{
    height: 120%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#esquerda{
    height: 100%;
    width: 30%;
    background-color: #4B556C;
    
        
}

#cima{
    height: 50%;
    width: 100%;
    display: flex;
    color: white;
    font-family: 'GabrielSans';
    background-color: #4B556C;    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}

#mensag{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GabrielSans';
    color:#dbdbdb;
    font-size: 16px;
    margin: 1px;
    letter-spacing: 2px

}

.style99{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GabrielSans';
    color:#4B556C;
    font-size: 16px;
    margin: 1px;
    letter-spacing: 2px;
   

}

.style98{
    height: 7%;
    width: 90.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GabrielSans';
    color:#000000;
    font-size: 16px;
    margin: 1px;
    letter-spacing: 2px;
    background-color: #d3d3d3;
    padding:6px 24px;
    opacity: 0.7;
    right: 46px;
    top: 25px;

    

}

.style97{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GabrielSans';
    color:#4B556C;
    font-size: 16px;
    margin: 1px;
    letter-spacing: 2px;
    opacity: 0.0;
    }


    .style96{
        height: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GabrielSansN';
        color:#4B556C;
        font-size: 14px;
        margin: 1px;
        letter-spacing: 3px;
       
    
    }

    .style95{
        height: 3%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'GabrielSansN';
        color:#4B556C;
        font-size: 14px;
        margin: 1px;
        letter-spacing: 3px;
        opacity: 0.0;
       
    
    }
    


#procurar{
    height: 16%;
    width: 70%;
    font-family: 'Kanit';
    font-size: 20px;
    border-radius: 60px;   
    padding-left: 10px;
    margin: 5px;

}

#buscar{
    height: 20%;
    width: 40%;
    font-family: 'GabrielSans';
    color:#dbdbdb;
    background-color:#595e68;
    font-size: 16px;
    border-radius: 60px;    
    margin: 5px;

}

#buscar:hover 

{ background-color: rgb(224, 222, 222);

}

#baixo{
    height: 70%;
    width: 100%;

}

#titulo{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#dispo{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'GabrielSansN';
    color:#dbdbdb;
    letter-spacing: 1px;

}

#textoT{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'GabrielSansN';
    color:#dbdbdb;
    font-weight: bold;
    font-size: 27px;
    margin: 1px;
    letter-spacing: 6px;

}

#direita{
    height: 100%;
    width: 70%;
    overflow-y: scroll;
    background-image: url(farmatech2.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.93;
    display: flex;
    


    

}


#direita1{
    
    height: 99.9%;
    width: 49.5%;       
    border-style: ridge;
    border-color: #d3d3d352;
    border-width: 1px 1px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
   
        

}

.botoesCentro{
    justify-content: center;    
    align-items: center;
    
}

#direita2{

    height: 99.9%;
    width: 49.5%;
    border-style: ridge;
    border-color: #d3d3d352;
    border-width: 1px 1px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    
      
    
    
    
     
    
}





#textos{
    height: 92%;
    width: 92%;
    font-family: 'Kanit';
    font-size: 25px;
    overflow-y: scroll;

}

    ::-webkit-scrollbar {
        width: 15px;
        border-radius: 30px;
      }
      
      /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(131, 130, 130);
        border-radius: 30px;
    }
      
      /* Handle */
    ::-webkit-scrollbar-thumb {
        background:rgb(194, 194, 194);
        border-radius: 30px;
    }
      
      /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(75, 75, 75);
        border-radius: 30px;
    }

  
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
    
    
   
    
   
    
    .temparature-meter__container {    
        position: relative;
        height: 200px;
        width: 200px;
        border-radius: 200px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .07);
        border: solid 10px #fff;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        

    }
        .temparature-meter__container:after {
            position: absolute;
            content: "";
            height: 120px;
            width: 120px;
            background-color: #fff;
            z-index: 0;
            transform: rotate(45deg);
            bottom: -40px;
            left: 40px;
            z-index: 1;
        }
    
    
    .temparature-meter__inner {
        display: flex;
        text-align: center;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .4);
        background: linear-gradient(to right, #0e1efc 0%,#fc0404 100%);
        overflow: hidden;
    }
        .temparature-meter__inner-ring {
            cursor: pointer;
            position: relative;
            margin: auto;
            display: flex;
        flex-direction: column;
        justify-content: center;
            height: 130px;
            width: 130px;
            background-color: #fff;
            border-radius: 100%;
            box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
            z-index: 9;
            
        }
            
           
            
            .temparature-count {
                display: block;
                position: absolute;
                width: 100%;
                text-align: center;
                transition: all 0.8s ease-in-out;
                
               
            }
            
            .temparature-count:hover {
                
                    opacity: 0;
                    transform: translatex(-50px) scale(0.5);
                
                
                }
            
        
        .temparature-inside {
            position: relative;
            font-size: 50px;
        display: inline-block;
        letter-spacing: -5px;
        font-weight: 500;
        color: #4B556C;
            height: 58px;
        }
            .temperature-sup {
                font-size: 20px;
                position: absolute;
                position: relative;
            right: -46px;
            top: -25px;
            letter-spacing: 1px;
            }
        
        
        .temparature-outside {
            font-size: 13px;
            font-family: 'GabrielSans';
            color:#ff0101ce
        }
        
        .temparature-meter__inner-label {
            font-size: 13px;
            font-family: 'GabrielSans';
            color:#0e1efcd0;
        }
    
    
    